<div class="title-content">
  <a href="" class="menu-tag">Food</a>
  <span></span>
  <a href="" class="tag-item">Detail</a>
</div>
<div class="content-row">
<div class="detail-item">
    <div class="image-box-items">
        <div class="image-large">
            <img src="{{food.image}}" alt="">
        </div>
        <div class="image-tiny">
            <img src="" class="image-tiny-item" alt="">
            <img src="" class="image-tiny-item" alt="">
            <img src="" class="image-tiny-item" alt="">
        </div>
    </div>
    <div class="detail-box-items">
        <h1>Name: {{food.name}}</h1>
        <p>Price:  {{food.price}}</p>
        <p>Quantity: {{food.quantity}}</p>
        <p>Exp Date: {{food.expDate}}</p>
        <p>Description: {{food.description}}</p>
    </div>
</div>
</div>
