<div class="title-content">
    <a href="" class="menu-tag">Food</a>
    <span></span>
    <a href="" class="tag-item">Foods</a>
</div>
<div class="card-row">
    {{#each foods}}
        <div class="card-item">
            <img src="{{this.image}}" class="card-item-img" alt="...">
            <div class="card-body">
                <a class="card-body-a" href="/courses/{{this.slug}}">
                    <h5 class="card-title">{{this.name}}</h5>
                    <div class="card-content">
                        <div class="card-p">
                            <p class="card-text">Price: {{this.price}}</p>
                            <p class="card-text">Qty: {{this.quantity}}</p>
                        </div>
                        <a href="/" class="card-button">Add to cart</a>
                    </div>
                   
                </a>
            </div>
        </div>

        {{/each}}
</div>